@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

header {
   text-align: center;
}

a {
   color: black;
   text-decoration: none;
}

.blue {
   color: #1A7DF0;
}


.content {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.column-1 {
   margin-left: 1.5rem; 
}

.column-2 {
   margin-left: 1.5rem; 
}

.image {

}