@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
}

html, body {
  /* overflow-x:  hidden;  Oculta a barra lateral */
   height: 100vh;
}

header {
   text-align: center;
   top: 10px;
   padding: 30px;
}

a {
   text-decoration: none;
}

nav a {
   color: black;
}

.navbar a {
   font-weight: bold;
   padding: 5px;
   transition: .3s;  
}

.navbar a:hover {
   color: #1A7DF0;
}

.blue {
   color: #1A7DF0;
}

.home {
   height: 80vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.home h1 {
   font-size: 56px;
}

.home h2 {
   font-size: 32px;
}

.home-content {
  /* margin-left: 1.5rem; */
} 

/* --- Sobre mim --- */

.about {
  /* align-items: center; */
  /* flex-direction: row;  Opcional */
  /* justify-content: center;   Opcional */
}

ul {
   margin: 10px;
   padding: 15px;
   display: flex; 
   flex-direction: column;
}

.text-p {
   text-align: center;
   margin: 20px;
   padding: 5px;
}

.about-text p {
   margin: 15px;
}

.about-text {
   word-spacing: 10px;
}

.icons-tech {
   text-align: center;
}

.icon:hover {
   color: #1A7DF0;
}

/* --- Box --- */

.box-all {
   /* margin: 100px; */
  /* display: flex;
   flex-wrap: wrap;
   flex-direction: column; */
}

.about {
   margin: 100px;
}

.projects {
   margin: 100px;
}

.box-title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1em;
   /* background-color: grey; */
}

.box-title a {
   padding: 5px;
   margin: 50px;
   height: 35px;
   width: 110px;
   background: #1A7DF0;
   color: white;
   font-weight: bold;
   border-radius: 8px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 25px #0000005a;
}

.about-img {
   float: left;
   padding: 40px;
   margin: 10px;
   display: flex;
   flex-direction: column;
}

.about-img img {
   width: 300px;
   height: 380px;
   border: 10px solid #1A7DF0;
   border-radius: 10px;
}

.about-text {
   padding: 25px;
}

.subtitle {
   font-weight: bold;
   padding: 15px; 
   text-align: center;
   color: black;
}

.text {
   font-weight: bold;
   padding: 5px; 
   text-align: center;
   font-size: 2em;
}

.icon {
   font-size: 3em;
}

/* --- Projetos --- */

.box-image {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   grid-gap: 20px;
   /* justify-content: center;  Verificar */
   /* align-items: center;  Verificar */
   width: 100%;
}

div.gallery {
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
}

div.gallery:hover {
   border: 1px solid #777;
}

div.gallery img {
   width: 100%;
   height: auto;
}

div.desc {
   /* padding: 15px; */
   text-align: center;
   padding: 1em;
}

/*
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
} 
*/

/* --- Contato --- */ 

.contact {
   text-align: center;
   margin: 100px;
}

.social-list {
   border-radius: 10px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

 .link {
	width: 100px;
	height: 100px;
	box-shadow: 0 0 8px #0000005a;
	margin: 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	font-size: 30px;
	position: relative;
	overflow: hidden; /* Tudo que vazar dos limites irão ficar escondidos */
}

.link i {
	transition: .2s;
}

.link:hover i {
	color: #fff;
	transform: scale(1.2);
}

.link-1 {
	color: #1A7DF0;
}

.link-2 {
	color: #1A7DF0;
}

.link-3 {
	color: #1A7DF0;
}

.link::before {
	content: "";
	width: 100px;
	height: 100px;
	border-radius: 30px;
	position: absolute;
	left: -100px;
	top: 100%;
	background-color: black;
}

.link:hover::before {
	animation: deslocation .5s;
	left: 0;
	top: 0;
}

@keyframes deslocation {
	0% {
		left: -100%;
		top: 100%;
	}
	
	50% {
		left: 15%;
		top: -25%;
	}
	
	100% {
		left: 0;
		top: 0;
	}
}

 /* --- FOOTER --- */

footer {
   margin: 0 auto;
   padding: 3em 3em;
   text-align: center;
   color: #7b7b7b;
   font-weight: bold;
   background-color: #222222;
}

footer a {
   color: white;
}

.name:hover {
   color: #1A7DF0;
}

/* ----- Media Queries ----- */

@media (max-width: 600px) {
   .navbar a {
      padding: 0;
      margin: 0;
   }

   .home h1 {
      font-size: 2.5em;
      text-align: center;
   }

   .home h2 {
      font-size: 1.3em;
      text-align: center;
   }
   
   .home {
      display: grid;
   }

   .about {
      display: grid;
   }

   section#about.about {
      margin: 5px;
      display: flex;
      flex: wrap;
      flex-direction: column;
   }
   
   .projects {
      display: grid;
      margin: 5px;
   }

   .contact {
      display: grid;
   }

   .social-list {
      display: grid;
   }

   .link {
      margin: 10px;
   }
}